.header {
  display: flex;
  justify-content: space-between;
  background-color: #ff9ab0;
  color: #fff;
  font-size: 18px;
  padding: 5px 30px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  height: 60px;
}

.header-left .name {
  color: #fff;
  padding: 0 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right div:first-child {
  margin-right: 20px;
}

.card-deck{
    padding: 80px;
}